@import '../../assets/styles/setup/variables';

.app-header {
    align-items: center;
    gap: 3rem;
    height: 50px;
    padding: 5px 10px;
    box-shadow: $box-shadow-header;
    z-index: 999;

    .logo {
        cursor: pointer;
    }

    .nav-links {
        width: 25vw;

        .nav-link {
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}