@import '../../assets/styles/setup/variables';

.shoe-index-container {
    display: grid;
    grid-template-rows: 300px 1fr;
    grid-template-columns: 1fr 80%;
    padding: 100px 0;
    margin: auto;
    row-gap: 40px;

    >* {
        grid-row: 2;
    }

    header {
        grid-row: 1;
        grid-column: 1/-1;
        padding: 40px 50px;
        background-color: $clr4;
        border-radius: $border-radius-article;

    }

}