$clr1: #352F44;
$clr2: #5C5470;
$clr3: #B9B4C7;
$clr4: #FAF0E6;

$txt-clr1: #f2edea;


// icon variables //
$icon-member: "\e946";
$icon-label: "\e93f";
$icon-checklist: "\e91a";
$icon-attachment: "\e908";
$icon-plus: "\e901";
$icon-arrow-right: "\e94a";
$icon-copy: "\e91f";
$icon-share: "\e963";
$icon-description: "\e922";
$icon-activity: "\e900";
$icon-archive: "\e907";
$icon-card: "\e912";
$icon-card-cover: "\e914";
$icon-gear: "\e932";
$icon-eye: "\e969";
$icon-comment: "\e91e";
$icon-clock: "\e91b";
$icon-star: "\e966";
$icon-full-star: "\e967";
$icon-two-members: "\e951";
$icon-three-dots: "\e952";
$icon-lighting-bolt: "\e909";
$icon-power-up: "\e956";
$icon-close: "\e91c";
$icon-checked: "\e916";
$icon-trello: "\e90b";
$icon-empty-checked: "\e919";
$icon-full-checked: "\e918";
$icon-edit: "\e928";
$icon-external-link: "\e92c";


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

//lentgh
$header-hight: 48px;
$board-hight: calc(100vh - $header-hight);
$board-header-hight: auto;
$board-header-width: calc(100% - 23px);