* {
    box-sizing: border-box;
}

// ::selection {
//     background-color: $clr-text-selected;
//     color: $clr-text-inverse;
// }

body {
    // background-color: $clr-surface;
    overflow: hidden;
    position: relative;
    z-index: 0;
    height: 100%;
}

body,
button,
input,
select,
textarea {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Noto Sans,
        Ubuntu,
        Droid Sans,
        Helvetica Neue,
        sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
    line-height: 1;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

// h2,
// h3,
// h4,
// h5,
// h6 {
//     font-weight: 600;
//     margin: 0 0 8px;
// }

// h3,
// h4,
// h5,
// h6 {
//     font-size: 16px;
//     line-height: 20px;
// }
// h3 {
//     display: block;
//     font-size: 1.17em;
//     margin-block-start: 1em;
//     margin-block-end: 1em;
//     margin-inline-start: 0px;
//     margin-inline-end: 0px;
//     font-weight: bold;
// }

button,
.button {
    -webkit-appearance: none;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 8px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}

textarea {
    -webkit-appearance: none;
    // background-color: $clr-background-input;
    border: none;
    border-radius: 3px;
    // box-shadow: inset 0 0 0 2px $clr-border-input;
    box-sizing: border-box;
    display: block;
    line-height: 20px;
    margin-bottom: 12px;
    outline: none;
    padding: 8px 12px;
    transition-duration: 85ms;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: ease;
    overflow: auto;
}

// img {
//     width: 100%;
// }

// p {
//     margin: 0 0 1em;
//     max-width: 40ch;
// }

// a {
//     text-decoration: none;
// }
// a:hover {
//     text-decoration: underline;
// }
