.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

// @include for-narrow-layout {
//     grid-template-columns:
//         minmax(20px, 1fr)
//         minmax(auto, $mobile-breakpoint)
//         minmax(20px, 1fr);
// }
// @include for-normal-layout {
//     grid-template-columns:
//         minmax(20px, 1fr)
//         minmax(auto, $narrow-breakpoint)
//         minmax(20px, 1fr);
// }
// @include for-wide-layout {
//     grid-template-columns:
//         minmax(20px, 1fr)
//         minmax(auto, $normal-breakpoint)
//         minmax(20px, 1fr);
// }
// }
