.main-container {
    display: grid;
    grid-template-columns: 60px 1fr 60px;

    &>*{
        grid-column: 2;
    }
}

// @include for-narrow-layout {
//     grid-template-columns:
//         minmax(20px, 1fr)
//         minmax(auto, $mobile-breakpoint)
//         minmax(20px, 1fr);
// }
// @include for-normal-layout {
//     grid-template-columns:
//         minmax(20px, 1fr)
//         minmax(auto, $narrow-breakpoint)
//         minmax(20px, 1fr);
// }
// @include for-wide-layout {
//     grid-template-columns:
//         minmax(20px, 1fr)
//         minmax(auto, $normal-breakpoint)
//         minmax(20px, 1fr);
// }
// }
